* {
    box-sizing:border-box;
  }
  html {
    height:100vh;
  }

  body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  
  article {
    height: 100vh;
    width: 1000vw;
    max-width: 40em;
    min-width:20em;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-end;
    background: rgb(255, 0, 0);
    background: linear-gradient(0deg, #FFEB70 20%, #F02262 100%);
    border-radius: 10%;
  
  }
  
  p { 
    margin:0
  }
  
  article > p {
    padding:3rem 2rem;
    margin-top: 0;
    text-align:center;
    border-radius: 0 0 1rem 1rem;
    width:100%;
  }
  
  /* expand content */
  body.expand {
    font-size:1.15em;
  }
  body.expand article {
    width:60vw;
    max-width: 60vw;
  }
  body.expand button svg:first-of-type {
    opacity:0;
    transition-delay: 0;
  }
  body.expand button svg:nth-of-type(2) {
    opacity:1;
    transition-delay:.25s;
  }
  body.expand dd {
    font-size: 1.75em;
  }
  body.expand img {
    width:15em;
  }
