* {
  box-sizing:border-box;
}
html {
  height:100vh;
}
body {
  height:100vh;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display:flex;
  justify-content:center;
  align-items:center;
  background-repeat: no-repeat;
  background-size: cover;
  
}


article {
  width: 1000vw;
  max-width: 40em;
  min-width:20em;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:flex-end;
  background: rgb(255, 0, 0);
  background: linear-gradient(0deg, #FFEB70 20%, #F02262 100%);
  border-radius: 10%;

}

header {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  justify-content:flex-end;
  
}
h1 {
  margin:2rem 0 1rem;
  color: rgb(13, 12, 12);
  border-bottom: #f3f3f8;
}

h2 {
  border: #f3f3f8;
  
}
.img {
  border-bottom: #0000f1;
  
}
dl {
  width:100%;
  height: auto;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "html-dd css-dd js-dd"
    "html-dt css-dt js-dt"
    ;
  justify-items:center;
  align-items:start;
  padding:4rem 0px 8rem 4rem;
  margin-top: -2rem;
  margin-bottom: 2rem;
  margin-right: 4rem;
  text-align: center;
}
dt{
  text-size-adjust: 25%;
  font-weight: bold;
  border-top: 1px solid rgba(0,0,0,0.3);
  padding-top: .25rem;
  margin-top: .25rem;
}
dt:nth-of-type(1){ grid-area: html-dt; }
dt:nth-of-type(2){ grid-area: css-dt; transform: translateY(1rem);}
dt:nth-of-type(3){ grid-area: js-dt; }

dd {
  margin:0;
  padding-left:.3rem;
  transition:.25s .3s;
}
dd:nth-of-type(2){  
  transform: translateY(1rem);
}

p { 
  margin:0
}

article > p {
  padding:3rem 2rem;
  margin-top: 0;
  margin-bottom: 2rem;
  text-align:center;
  border-radius: 0 0 1rem 1rem;
  width:100%;
}

/* expand content */
body.expand {
  font-size:1.15em;
}
body.expand article {
  width:60vw;
  max-width: 60vw;
}
body.expand button svg:first-of-type {
  opacity:0;
  transition-delay: 0;
}
body.expand button svg:nth-of-type(2) {
  opacity:1;
  transition-delay:.25s;
}
body.expand dd {
  font-size: 1.75em;
}
body.expand img {
  width:15em;
}

img {
  animation-duration: 2s;
  animation-name: slidein;
  width: 30em;
  height: 20em;
  position: right;
  border-radius: 25%
  
}


@keyframes slidein {

  from {
    margin-left: 50%;
    width: 200%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
